.stepList {
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background: #EEEEEE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  border-radius: 38px;
  cursor: default;
}