.dashboard {
  .todoTitleBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    .titleBox {
      margin-right: 24px;
    }
    .teamContainer {
      height: 56px;
      padding: 0 24px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #FFF;
      .teamAvatarBox {
        display: flex;
        align-items: center;
        img {
          margin-right: 20px;
        }
      }
    }
  }
  .contentContainer {
    height: calc(100vh - 228px);
    margin-top: 20px;
    display: flex;
    width: 100%;
    .contentBox {
      background: #fff;
      border-radius: 10px;
      margin-right: 24px;
      display: block;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      .tabPanelBox {
        height: calc(100% - 57px);
        overflow: auto;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
      }
      .tabPanelBox::-webkit-scrollbar {
        display: none;
      }
    }
    .stepBox {
      background: #FFFFFF;
      border-radius: 0 0 10px 10px;
      padding: 14px 24px 67px 24px;
      .tasksTitle {
        margin: -4px 0 24px 8px;
      }
      .stepRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        .indexNum {
          margin-right: 14px;
        }
        .agoTime {
          display: flex;
          align-items: center;
          p {
            text-align: end;
            width: 89px;
            margin-left: 16px;
            color: #9E9E9E;
          }
        }
        .tableTitleBox {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          border-radius: 5px;
          width: 100%;
          .checkJobBox {
            display: flex;
            justify-content: space-around;
            .taskTitle {
              height: 27px;
            }
          }
          .checkJobBox * {
            text-align: center;
          }
        }
        .taskValue {
          width: 114px;
          height: 45px;
          margin-left: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #FFF;
          h6 {
            font-weight: bold;
          }
        }
        .leftTask {
          border-radius: 5px;
        }
        .rightTask {
          border-radius: 5px 10px 10px 5px;
        }
        .coloredBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px 0 32px;
          border-radius: 10px 5px 5px 10px;
          color: white;
          height: 45px;
          flex-grow: 1;
          h6 {
            font-weight: bold;
          }
        }
        .coloredTaskBox {
          width: 90%;
          height: 45px;
          display: flex;
          align-items: center;
          color: white;
          border-radius: 10px;
          padding-left: 32px;
          cursor: pointer;
          h6 {
            font-weight: bold;
          }
        }
        .coloredTaskBoxTimeAgo {
          max-height: 45px;
        }
      }
    }
  }
}