.customButton {
    height: 39px;
    width: 186px;
    min-width: 20px;
}

.buttonWithCircleBox {
    border: 2px solid #FAD61E;;
    border-radius: 10px;
    color: #FAD61E;
}

.circleBox {
    background: #FAD61E;
}

.buttonProgress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    color: white;
}

.disabledBtn {
    pointer-events: none;
}