.backArrow {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    fill: #9E9E9E;
  }

  p {
    color: #9E9E9E;
    font-weight: bold;
    line-height: 0;
  }
}