.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatContainer {
  height: 100%;
  margin-top: 24px;
  margin-right: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.teamContainer {
  height: 56px;
  margin-right: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}