.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatContainer {
  height: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #FFF;
}

.chatInput {
  display: none;
  //display: flex;
  align-items: center;

  button {
    margin-left: 24px;
  }
}
