.dashboard {
  height: 100%;

  .todoTitleBox {
    height: 56px;
    display: flex;
    align-items: center;
  }
}

.contentContainer {
  width: 100%;
  background: #FFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 24px;
  padding: 24px;

  .imageGridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f6f6;
    border-radius: 10px;


    img {
      width: 90%;
      max-height: 55vh;
      max-width: 1100px;
    }
  }

  .stepBox {
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px;

    .stepRow {
      display: flex;
      justify-content: flex-start;

      .tableTitleBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        margin-left: 10px;
        border-radius: 5px;
        width: 100%;
        color: #4285F4;
      }

      .coloredBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0 6px;
        margin-left: 10px;
        margin-bottom: 8px;
        border-radius: 5px;
        background: #FAD61E;
        color: white;
        width: 100%;
      }
    }
  }
}

.videoContainer {
  margin-top: 3vh;

  .bottomPlayBox {
    display: flex;
    align-items: center;

    .videoBox {
      display: flex;
      align-items: center;
      margin-top: 14px;

      img {
        margin-left: 8px;
      }
    }
  }
}

.vl {
  display: inline;
  border-left: 1px solid white;
  margin: 0 15px;
  height: 100%;
}

