.dashboard {
  .todoTitleBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    margin-right: 24px;
    .titleBox {
      margin-right: 24px;
    }
    .teamContainer {
      min-width: 330px;
      height: 56px;
      padding: 0 24px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: #FFF;
      .teamAvatarBox {
        display: flex;
        align-items: center;
        img {
          margin-right: 20px;
        }
      }
    }
  }
  .contentContainer {
    height: calc(100vh - 228px);
    margin-top: 20px;
    margin-right: 24px;
    display: flex;
    width: 100%;
    .videoContentItem {
      display: flex;
      align-items: center;
      padding: 34px;
      background: #fff;
      border-radius: 10px;
      flex-direction: column;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      margin-right: 12px;
      .teamPhotoContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #f5f5f5;
        margin-bottom: 38px;
        border-radius: 10px;
        img {
          max-width: 500px;
          width: 100%;
        }
      }
    }
    .stepsContentItem {
      background: #fff;
      border-radius: 10px;
      display: block;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      margin-left: 12px;
      padding: 28px;
      .stepRow {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 16px;
        .indexNum {
          margin-right: 14px;
        }
        .agoTime {
          display: flex;
          align-items: center;
          p {
            text-align: end;
            width: 89px;
            margin-left: 16px;
            color: #9E9E9E;
          }
        }
        .tableTitleBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;
          width: 100%;
          .checkJobBox {
            display: flex;
            width: 234px;
            justify-content: space-around;
            margin-right: 10px;
          }
          .checkJobBox * {
            width: 80px;
            text-align: center;
          }
        }
        .coloredBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px 0 45px;
          border-radius: 10px;
          color: white;
          width: 100%;
          height: 45px;
          position: relative;
          .indexNum {
            position: absolute;
            left: 10px;
          }
          .counterBox {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 234px;
            justify-content: space-evenly;
            .vl {
              display: inline;
              background: #fff;
              width: 2px;
              height: 45px;
            }
            .taskValue {
              width: 50%;
              text-align: center;
              svg {
                height: 24px;
                width: 24px;
              }
            }
          }
        }
        .coloredTaskBox {
          width: 100%;
          height: 45px;
          display: flex;
          align-items: center;
          color: white;
          border-radius: 10px;
          margin-bottom: 16px;
          padding-left: 8px;
        }
      }
      .sloganBox {
        height: calc(100% - 515px);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}