.carouselBox {
    width: 350px;
    margin: 0 10px;
}

.outerBox {
    margin-top: 10px;
    margin-bottom: -20px;
}

.sliderContainer {
    display: flex;
    align-items: center;
}

.sliderArrow {
    cursor: pointer;
    svg {
        width: 15px;
        height: 25px;
    }

}
