.carouselBox {
  margin: 0 10px;
  width: 256px;
}

.carouselBoxVertical {
  width: 90px;
}

.carouselBoxHorizontal {
  width: 256px;
}

.outerBox {
  margin-top: 10px;
  margin-bottom: -20px;
}

.sliderContainer {
  display: flex;
  align-items: center;
}

.sliderArrow {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  svg {
    width: 15px;
    height: 25px;
  }
}

.rotateArrow {
  svg {
    transform: rotate(90deg);
  }
}