.topBarContainer{
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 24px;
  box-shadow: 0 4px 15px rgba(40, 47, 43, 0.1);
  border-radius: 10px;
}

.TopBarContent {
  .clockContainer {
    display: flex;

    .clock {
      margin-left: 23px;

      .timeContainer {
        display: flex;
        align-items: center;

        .time {
          margin-left: 5px;
        }
      }
    }
  }

  .personalInfo {
    margin-right: 24px;
  }
}