.topBarContainer{
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 24px;
  box-shadow: 0 4px 15px rgba(40, 47, 43, 0.1);
  border-radius: 10px;
  background: #FFF;
}

.TopBarContent {
  .clockContainer {
    display: flex;

    .clock {
      margin-left: 23px;

      .timeContainer {
        display: flex;
        align-items: flex-end;

        .time {
          margin-left: 5px;
        }
      }
    }
  }

  .personalInfo {
    margin-right: 24px;
  }

  
}
.logOutDialog {
    height: 553px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 56px 97px 0 97px !important;
    img {
      margin-bottom: 58px;
      margin-top: 32px;
    }
    .buttonBox {
      width: 100%;
      display: flex;
      justify-content: space-between;


    }
  }

  .backDrop {
    backdrop-filter: blur(10px);
    background: rgba(242, 247, 255, 0.1);
  }