.circleRipple span {
  border-radius: 50%;
  animation: ripple 3s linear infinite;
}

@keyframes ripple {
  30%, 100% {
    box-shadow: 0 0 0 0 rgba( #4285F4, 0)
  }
  0% {
    box-shadow: 0 0 0 0 rgba( #4285F4, 0.6)
  }
  20% {
    box-shadow: 0 0 0 0.6em rgba( #4285F4, 0)
  }
  
}
//4285F4