.dashboard {
  .todoTitleBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;

    .titleBox {
      margin-right: 24px;
    }
  }

  .contentContainer {
    height: calc(100vh - 228px);
    margin-top: 20px;
    display: flex;
    width: 100%;

    .contentBox {
      background: #fff;
      border-radius: 10px;
      display: block;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

      .tabPanelBox {
        height: calc(100% - 57px);
        overflow: auto;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        .taskContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .stepLine {
            display: flex;
            justify-content: center;
          }
          .stepLine {
            margin-top: 53px;
            margin-bottom: 34px;
          }
          img {
            margin: 77px 0;
          }
        }
      }
      .tabPanelBox::-webkit-scrollbar {
        display: none;
      }
    }
  }
}