.dropZoneSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dropBox {
    width: 100%;
    height: 350px;
  }
  .dropZone {
    outline: none;
    .dropZoneDashedBox {
      border: 2px dashed #EDCD27;
      width: 300px;
      display: flex;
      border-radius: 10px;
      padding: 12px 16px;
      align-items: center;
      cursor: pointer;
      .dropZoneText {
        flex-grow: 1;
      }
    }
  }
  .photoSection {
    display: flex;
    justify-content: center;
    .imgBox {
      display: flex !important;
      justify-content: center;
      position: relative;
      outline: none;
      height: 100%;
      .videoContainer {
        margin: 10px 20px;
        min-width: 60px;
        height: 60px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        video {
          position: absolute;
          height: 60px;
          left: -1000%;
          right: -1000%;
          top: -1000%;
          bottom: -1000%;
          margin: auto;
          min-height: 100%;
          min-width: 100%;
          cursor: pointer;
          object-fit: fill;
        }
        .svgPlay {
          position: absolute;
          left: 19px;
          top: 13px;
          z-index: 10;
        }
      }
      .svgDelete {
        position: absolute;
        right: 5px;
        top: 4px;
        z-index: 1;
      }
      .imgContainer {
        margin: 10px 20px;
        min-width: 60px;
        height: 60px;
        overflow: hidden;
        position: relative;
        border-radius: 5px;
        .photoItem {
          position: absolute;
          height: 60px;
          left: -1000%;
          right: -1000%;
          top: -1000%;
          bottom: -1000%;
          margin: auto;
          min-height: 100%;
          min-width: 100%;
          cursor: pointer;
        }
      }
    }
  }
}

.videoBox {
  display: flex;
  justify-content: center;
  video {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 350px;
    outline: none;
  }
}

.photoBox {
  max-height: 350px;
  display: flex;
  justify-content: center;
  .bibosh {
    max-height: 350px;
    margin: auto;
  }
  img {
    // width: 100%;
    // height: 100%;
    // max-height: 350px;
    // object-fit: contain;
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 350px;
  }
  .reactZoom {
    background-color: #EDCD27;
    &:last-child {
      z-index: 100;
    }
  }
}

.dialogContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.backDrop {
  background: rgba(242, 247, 255, 0.1);
  backdrop-filter: blur(6px)
}

.pdfBox {
  display: flex;
  justify-content: center;
  * {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    pointer-events: none;
  }
  span {
    overflow: hidden;
    pointer-events: none !important;
  }
  canvas {
    max-height: 350px;
    object-fit: contain;
  }
}

.fileContainer {
  margin: 10px 20px;
  min-width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  .fileItem {
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
}