.loginSheet {
  box-shadow: 0 4px 15px rgba(40, 47, 43, 0.1);
  background: #FFF;
  border-radius: 10px;
  height: 553px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin-top: 104px;
  }

  .backArrow {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    p {
      line-height: 0;
    }
  }

  .formContainer {
    margin-top: 43px;
  }

  .loginButton {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }

  .forgotPassword {
    margin-top: 16px;
  }

  .createAccount {
    margin-top: 48px;
  }

  .link {
    cursor: pointer;
  }
}