.loginSheet {
  box-shadow: 0 4px 15px rgba(40, 47, 43, 0.1);
  background: #fff;
  border-radius: 10px;
  height: 553px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .formContainer {
    //margin-top: 56px;
    height: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }

    .usernameGridItem {
      margin-top: 56px;
    }

    .passwordGridItem {
      margin-top: 24px;
    }

    .buttonContainer {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      .loginButton {
        position: relative;
        display: flex;
        justify-content: center;
        //margin-top: 145px;

        .disabledBtn {
          pointer-events: none;
        }
      }
    }

    .forgotPassword {
      margin-top: 16px;
      color: #9e9e9e;
      cursor: pointer;
    }

    .errorText {
      position: absolute;
      top: 278px;
      left: 50%;
      transform: translate(-50%, 0);
      color: #ea4335;
    }

    .createAccount {
      margin-top: 16px;
      margin-bottom: 24px;
      color: #9e9e9e;
    }

    .link {
      cursor: pointer;
    }
  }
}
