.headerContainer {
    height: 69px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 15px rgba(40, 47, 43, 0.1);
    background: #fff;
}
