.menu {
    width: 236px;
    height: 100%;
    margin-right: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;

    .gridItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .logo {
        width: 141px;
        height: 54px;
        margin-top: 12px;
    }

    .rootList {
        margin-top: 48px;
        height: calc(100% - 257px);
        overflow: auto;
    }

    .rootList::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .rootList {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .listIconRoot {
        justify-content: center;
        min-width: 50px;
    }

    .item1,
    .item2,
    .item3,
    .item4,
    .item5,
    .item6,
    .item7,
    .item8,
    .item9 {
        padding: 22px 18px 22px 0;
        width: 245px;
        border-radius: 0 10px 10px 0;

        svg {
            width: 24px;
        }
    }
}
