.menu {
  width: 236px;
  min-height: 100%;
  margin-right: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .logo {
    width: 141px;
    height: 54px;
    margin-top: 12px;
  }

  .rootList {
    margin-top: 48px;
  }
}