.registerForm {
  position: relative;
  .registrationSheet {
    box-shadow: 0 4px 15px rgba(40, 47, 43, 0.1);
    background: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    padding-bottom: 16px;
    min-height: 735px;
    @media (max-width: 600px) {
      min-height: auto;
      max-width: 100%;
    }
    .stepCounter {
      margin-top: 22px;
    }
    .assistantContainer {
      margin-top: 22px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 98px;
        height: 98px;
      }
      .assistantText {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 230px;

        @media (max-width: 600px) {
          margin-top: 22px;
        }
      }
    }
    .infoForm {
      height: 494px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 604px;
      width: 100%;

      @media (max-width: 600px) {
        max-width: 263px;
        height: auto;
      }
    }
    .formContainer {
      width: 100%;
      margin-top: 60px;
      @media (max-width: 600px) {
        margin-top: 35px;
      }
      .formText {
        padding-left: 100px;
        padding-right: 100px;
        @media (max-width: 900px) {
          padding-left: 8px;
          padding-right: 8px;
        }
        .inputBox {
          margin-top: 8px;
          display: flex;
          align-items: flex-start;

          @media (max-width: 600px) {
            margin-top: 15px;
          }

          @media (max-width: 360px) {
            flex-direction: column;
          }
          .formControl {
            margin-right: 24px;
            @media (max-width: 600px) {
              margin-right: 16px;
            }
          }
          .inputContainer {
            width: 100%;

            @media (max-width: 600px) {
              max-width: 70%;
            }

            @media (max-width: 360px) {
              margin-top: 16px;
              max-width: 100%;
            }
          }
        }
        .formSecondTitle {
          margin-top: 40px;
          @media (max-width: 600px) {
            margin-top: 30px;
          }
          h6 {
            br {
              display: none;
              @media (max-width: 375px) {
                display: block;
              }
            }
          }
        }
        .selectTextBox {
          width: 100%;
          height: 45px;
          padding: 8px 24px;
          border-radius: 10px;
          color: white;
          display: inline-flex;
          align-items: center;
          @media (max-width: 600px) {
            padding: 6px;
            h6 {
              font-weight: 700;
              font-size: 14px;
            }
          }
        }
      }
      .phoneContainer {
        position: relative;
        display: flex;
        .flagBox {
          position: absolute;
          left: 21px;
          top: 10px;
          width: 27px;
          height: 27px;
          overflow: hidden;
          border-radius: 50%;

          @media (max-width: 600px) {
            left: 13px;
          }
        }
      }
    }

    // FIX Design
    .formContainerWebLinks {
      margin-top: 60px;

      @media (max-width: 600px) {
        margin-top: 38px;
      }
    }

    .formContainerChooseRole {
      margin-top: 40px;

      @media (max-width: 600px) {
        margin-top: 51px;
      }
    }

    .formContainerInfo {
      margin-top: 60px;

      @media (max-width: 600px) {
        margin-top: 52px;
      }
    }
    .nextContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      &.webLinks {
        margin-top: 128px;
        h6 {
          color: #9E9E9E;
        }
        @media (max-width: 600px) {
          margin-top: 48px;
          margin-bottom: 32px;
        }
      }
      &.roles {
        margin-top: 37px;
        h6 {
          color: #9E9E9E;
        }
      }
      .link {
        cursor: pointer;
        @media (max-width: 600px) {
          margin-left: 13px;
        }
      }
      
      .buttonBlock {
        margin-bottom: 16px;
        border-radius: 10px;
        box-shadow: none;
      }
      .disabledBtn {
        pointer-events: none;
      }
      .buttonProgress {
        position: absolute;
        top: 25%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px;
        color: white;
      }
    }
    .errorText {
      position: absolute;
      bottom: 115px;
      left: 50%;
      transform: translate(-50%, 0);
      color: #ea4335;

      @media (max-width: 600px) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
.formInputName,
.formInputCompany,
.formInputEmail,
.formInputPhone {
  margin-bottom: 24px;
}

.formInputEmail,
.formInputPhone,
.formInputPasswordRepeat {
  padding-left: 12px;
}

.formInputName,
.formInputCompany,
.formInputPassword {
  padding-right: 12px;
}

@media (max-width: 600px) {
  .formInputName {
    order: 1;
    padding-right: 0;
  }

  .formInputCompany {
    order: 2;
    padding-right: 0;
  }

  .formInputEmail {
    order: 3;
    padding-left: 0;
  }

  .formInputPhone {
    order: 4;
    padding-left: 0;
  }

  .formInputPasswordRepeat {
    padding-left: 0;
    margin-bottom: 40px;
  }

  .formInputPassword {
    padding-right: 0;
    margin-bottom: 24px;
  }
}