.registrationSheet {
  box-shadow: 0 4px 15px rgba(40, 47, 43, 0.1);
  background: #FFF;
  border-radius: 10px;
  height: 553px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  .header {
    margin-top: 40px;
  }

  .registerForm {
    position: relative;
  }

  .formContainer {
    width: 100%;
    margin-top: 32px;

    .formSecondTitle {
      margin-top: 24px;
    }

    .inputBox {
      position: relative;
      margin-top: 8px;
      display: flex;
      align-items: center;

      .plusIcon {
        position: absolute;
        right: 15px;
        cursor: pointer;
      }
    }
  }

  .formControl {
    margin-right: 24px;
  }
}

.progressContainer {
  position: absolute;
  top: -40px;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  img {
    width: 14px;
    height: 11px;
  }

  li {
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    background: #EEEEEE;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    border-radius: 27px;
  }

  .active {
    width: 27px;
    height: 27px;
    line-height: 24px;
    background: #4285F4;
  }

  .current {
    width: 34px;
    height: 34px;
    line-height: 34px;
    background: #4285F4;
  }

  .line {
    height: 3px;
    width: 26px;
    background: #EEEEEE;
  }

  .lineActive {
    background: #4285F4;
  }
}

.assistantContainer {
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 98px;
    height: 98px;
  }

  .assistantText {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 230px;
  }


}
.nextContainer {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;

  .link {
    cursor: pointer;
  }

  .buttonBlock {
    margin-bottom: 16px;
  }
}

.thirdFromInput {
  margin-bottom: 16px;
}

.roleGridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.roleBox {
  width: 185px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #9E9E9E;
  cursor: pointer;
}

.roleBox:hover {
  border: 2px solid #4285F4;
}

.roleBoxActive {
  border: 2px solid #4285F4;
}