.wrapper {
  height: 100vh;

  h1 {
    padding-bottom: 20px;
  }
}

.loginForm {
  justify-content: center;
  min-height: 90vh;
}

.gridItem {
  display: flex;
  justify-content: center;
}

.buttonBlock {
  width: 100%;
}

.loginBackground {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
}