.rootTabsBar {
    color: #4285f4;
    background-color: inherit;
    border-radius: 10px 10px 0 0;
    box-shadow: initial;
    height: 57px;
    padding: 0 12px;

    button {
        opacity: 0.4;
    }

    .tabsContainer * {
        white-space: nowrap;
        max-width: none;
        text-transform: none;
    }
}
