.avatarSectionContainer {
  display: flex;
  align-items: center;
  .InitialsAvatar {
    background-color: #4285F4;
  }
  .imageText {
    font-weight: normal;
  }
  .greetingText {
    margin-right: 24px;
  }
}