.wrapper {
  height: calc(100vh - 32px);
  margin: 16px 0;
  display: flex;
}

.marketingContainer {
  width: auto;
  overflow: hidden;
}

.contentContainer {
  display: flex;
  height: calc(100% - 72px);
  padding-top: 16px;
}