.wrapper {
  height: calc(100vh - 32px);
  margin: 16px 0;
  display: flex;
}

.marketingContainer {
  width: 100%;
  height: calc(100% - 8px);
}

.contentContainer {
  display: flex;
  height: calc(100% - 70px);
  padding-top: 41px;
  overflow: auto;

  .content {
    height: 100%;
  }
}