.wrapper {
  height: calc(100vh - 32px);
  margin: 16px 0;
  display: flex;
}

.marketingContainer {
  width: auto;
  height: calc(100% - 8px);
}

.contentContainer {
  display: flex;
  height: calc(100% - 72px);
  padding-top: 41px;

  .content {
    height: 100%;
  }
}