.registrationContainer {
  padding-top: 80px;
  padding-bottom: 32px;
}

.loginSheet {
  box-shadow: 0 4px 15px rgba(40, 47, 43, 0.1);
  background: #FFF;
  border-radius: 10px;
  height: 553px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    margin-top: 40px;
  }
  .backArrow {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    p {
      line-height: 0;
    }
  }
  .formContainer {
    margin-top: 56px;

    .errorText {
      position: absolute;
      text-align: center;
      top: 380px;
      left: 50%;
      transform: translate(-50%, 0);
      color: #EA4335;
      min-width: 360px;
    }
  }
  .nextButton {
    display: flex;
    justify-content: center;
    margin-top: 152px;
    .buttonBlock {
      width: 186px;
      border-radius: 10px;
    }
  }
  .forgotPassword {
    margin-top: 16px;
  }
  .createAccount {
    margin-top: 48px;
  }
  .link {
    cursor: pointer;
  }
  .gridItem {
    display: flex;
    justify-content: center;
  }
  .subtitle {
    width: 221px;
    color: #9E9E9E;
    text-align: center;
    margin-top: 24px;
  }
}

.resetButtonSubmit {
  display: flex;
  justify-content: center;
  margin-top: 102px;
}

.bigCheckMark {
  padding-top: 56px;
}

.checkHeadline {
  width: 323px;
  padding-top: 40px;
}

.closeButton {
  padding-top: 23px;
}